* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 10px;
}

#semester-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

#semester-header h1 {
    font-size: 1.5em;
    font-weight: bold;
}

#gpa-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}